@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  --color-text: #e8e8eb;
  --color-background: #07070b;
  --color-primary: #a5a1d3;
  --color-secondary: #2d2779;
  --color-accent: #5e54dc;
  --grid-gap: 2rem;
  --todo-min-width: 30rem;
  --todo-min-height: 3rem;
  --todo-max-height: 10rem;
  --sb-track-color: var(--color-background);
  --sb-thumb-color: var(--color-primary);
  --sb-size: 8px;
  --todo-border: rgba(165, 161, 211, 0.2);
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--color-background);
  color: var(--color-text);
}

:root::-webkit-scrollbar {
  width: var(--sb-size)
}

:root::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

:root::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  :root {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}