.container {
  border: 2px solid var(--color-primary);
  border-radius: 0.4rem;
  min-width: var(--todo-min-width);
  min-height: var(--todo-min-height);
  max-height: var(--todo-max-height);
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  --sb-thumb-color: var(--color-accent);
  --sb-size: 4px;
  overflow-y: scroll;
}

.date {
  font-size: small;
  color: var(--color-accent);
}

.icon {
  display: flex;
  align-items: center;
  color: var(--color-secondary);
}

.textContainer::-webkit-scrollbar {
  width: var(--sb-size)
}

.textContainer::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.textContainer::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .textContainer {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}